

  .title_header {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .attendance-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex: auto;
    flex-direction: column;
  }
  
  .form-group, label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  

  
  .form-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .save-btn {
    background: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-btn {
    background: #f44336;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background: #ccc;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .employee_detail {
    border-color: rgba(128, 128, 128, 0.301);
    border-width: 2px;
    border-radius: 5px;

    padding: 15px;
  }

  .time_inout { 
    border-color: rgba(128, 128, 128, 0.301);
    border-width: 2px;
    border-radius: 5px;
    padding: 15px;
  }

  .morning_inout, .afternoon_inout {
    display: flex;
    flex-direction: col;
    gap: 10px;
    margin-bottom: 3px;
  }

  .morning_afternoon {
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 600;
  }