@import 'tailwindcss';

.payroll-dashboard-container{
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px;
    padding: 10px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.payroll-dashboard-content{
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    background-color: white;

}

.payroll-card-top{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.payroll-card-bottom{
    display: flex; 
    flex: 1;
    width: 100%;
    height: 100%;
}

.payroll-card-bottom .payroll-card-top{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.payroll-card{
    background-color: white;
    max-width: 50vw;
    max-height: 50vh;
    display: flex;
    flex: 1;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.payroll-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.payroll-card-content{
    background-color: white;
    height: 100%;
    width: 30%;
}


.payroll-dashboard-box {
    @apply
    h-80 w-80 
    flex flex-col 
    items-center justify-center
    p-5
    transition 
    cursor-pointer 
    rounded-4xl 

    hover:ease-in-out 
    hover:scale-105
    hover:duration-300 
    hover:shadow-lg
}

.payroll-dashboard-box_v3 {
    @apply
    transition 
    cursor-pointer
    rounded-4xl 
    w-[18vw] h-[30vh] 
    p-5 shadow
    border-[1px] 
    border-slate-300 
    relative 
    overflow-hidden 
    
    hover:ease-in-out 
    hover:scale-105 
    hover:duration-300 
    hover:shadow-lg
}