@import 'tailwindcss';

.dashboard-container {
    @apply
    
    overflow-hidden
    overflow-y-scroll   
}.dashboard-container::-webkit-scrollbar {
    display: none;
}

.dashboardcontent{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;

    height: 85vh;
    margin: 5px;
}


.left_dboard_content, .right_dboard_content{
    /* display: flex; */
    padding: 3px;

}

.left_dboard_content{
    flex: 1;
    width: 100%;
    margin: 5px;
}

.right_dboard_content{
    flex: 3;
    width: 100%;
    height: 100%;
    margin: 5px;
}

@media (max-width: 768px) {
    .dougnut-container-mobileAdmin{
        width: 100%;
        padding: 10px;
        margin: 0px;
    }

    
    
}
