@import "tailwindcss";

.basesalary-group-1, .basesalary-group-2 {
    @apply
    px-5
}

.basesalary-header-action {
    @apply
    font-bold
}
.basesalary-header-action, .basesalary-content-action {
    @apply
    flex
    w-[8%]
    py-2
    justify-center
    overflow-hidden
}

.basesalary-content-textelipis {
    @apply
    text-ellipsis
    hover:text-wrap
  }