
  .breadcrumb {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .breadcrumb-item {
    margin-right: 8px;
  }
  
  .breadcrumb-item a {
    text-decoration: none;
    color: blue;
  }
  
  .breadcrumb-item span {
    color: gray;
  }
